<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>VimL</string>
	<key>ordering</key>
	<array>
		<string>0555180C-1AF8-4D94-9937-4434C2AE07E5</string>
	</array>
	<key>uuid</key>
	<string>949B66F0-DB0F-46CE-B6CE-7A2A5317E7F5</string>
</dict>
</plist>
